# Python
__pycache__/
*.py[cod]
*$py.class
.icon-cache/

# Operating System
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs & Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs & Temp
*.log
*.tmp
